.popup__tooltip-img {
    width: 120px;
    height: 120px;
    background-color: transparent;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 32px;
    border: none;
    background-size: contain;
    justify-content: center;
}