.card__icon {
    background-image: url(../../../image/heart.svg);
    background-color: #fff;
    border: none;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.card__icon:hover {
    opacity: 0.5;
}