.profile__edit-button {
    background-image: url(../../../image/Edit-Button.svg);
    background-size: cover;
    background-color: #000;
    border: #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -45px;
    bottom: 10px;

}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .profile__edit-button {
        margin-top: 8px;
        width: 18px;
        height: 18px;
        right: -27px;
        bottom: 6px;
    }
}